:root{
    --primary-font: 'Passion One', cursive;
    --secondary-font: 'Lato', sans-serif;
    --primary-font-color: #ffff;
    --bcgd-color: rgb(41, 36, 36);
}

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
    font-family: var(--primary-font);
    color: var(--primary-font-color);
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

/* Versión mobile (320px hasta 767px de ancho): */
body{
    position: relative;
    min-width: 320px;
}

/* Parte del Header: */

header{
    /* display: none; */
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-width: inherit;
    width: 100%;
    height: auto;
    margin-top: 8px;
    max-height: 60px;
    vertical-align: top;
    z-index: 3;
}

header > img {
    height: 85%;
    width: 60%;
    max-width: 250px;
    margin: auto 3%;
    transition: opacity 0.8s;
    cursor: pointer;
}

header > img:hover{
    opacity: 0.8;
}

header > button, .header__menu--button {
    width: 45px;
    height: 45px;
    margin: 0px 10px;
    background: url(./assets/icons/burger-menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid var(--primary-font-color);
    cursor: pointer;
}

main {
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

/*Componente del contenido: */
.first{
    background: url(./assets/images/mic.jpg);
}

.second{
    background: url(./assets/images/microfono-wallpaper.jpg);
}

.main__container{
    /*Display provisional mientras hago el menú desplegable: */
    /* display: none; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: inherit;
    width: 100%;
    height: 100vh;
    padding: 2em;
    overflow-x: hidden;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    scroll-snap-align: center;
}

/* Ventana emergente que reproduce el podcast: */

.main__container--podcast {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 0vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: var(--bcgd-color);
    overflow: auto;
    z-index: 3;
    transition: all 0.5s;
    transform: translateY(-30vh);
}

.overview {
   visibility: visible;
   opacity: 1;
   transform: translateY(0vh);
}

.podcast__title--button {
    position: relative;
    top: 5vh;
    width: 35px;
    height: 35px;
    background: url(./assets/icons/equis.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.podcast--player {
    position: relative;
    top: 30vh;
    max-width: 700px;
}

.main__container--podcast > .podcast__title {
    position: relative;
    margin-bottom: 5px;
    top: 50%;
    text-align: center;
    font-size: 1.6rem;
}

.main__container--podcast > .podcast__title > h2 {
    width: 100vw;
    font-family: var(--secondary-font);
    font-weight: 400;
}

.main__container--podcast > .podcast__title > p {
    font-family: var(--secondary-font);
    font-weight: 300;
}

/* ...Fin de la ventana emergente */

.main__container--videodes{
    position: absolute;
    width: 100%;
    max-width: fit-content;
    z-index: 1;
    cursor: pointer;
}

.main__container--videodes > h1 {
    font-size: 5rem;
    color: var(--primary-font-color);
    line-height: 50%;
    text-align: center;
    transition: opacity 0.5s;
    transition: font-size 0.5s;
}

.main__container--videodes > h1 > span {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    transition: font-size 0.5s;
}

/* Dropdown lateral menu: */

.menu{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: black;
    z-index: 3;
    -moz-transition: all 0.2s ease-in-out;
    transition: opacity visiblity 0.2s ease-in-out;
}
.active-onclick {
    opacity: 1;
    visibility: visible;
}

.close{
    position: absolute;
    top: 8px;
    right: 0px;
    background: url(./assets/icons/equis.svg);
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
}

.menu > div {
    position: relative;
    padding-left: 60px;
    width: 100%;
    min-width: 300px;
    height: 60vh;
    max-height: 330px; 
    top: 20vh;
}

.menu > div > img {
    position: relative;
    top: 8%;
    width: 60px;
    height: 60px;
}

.menu > div > .menu__options--pages {
    position: relative;
    top: 16%;
    list-style: none;
    font-size: 1.4rem;
    line-height: 35px;
    font-weight: 400;
}

.menu > div > .menu__options--pages > li {
    font-family: var(--secondary-font);
    cursor: pointer;
    color: #d2d3ce;
    width: fit-content;
}

.menu > div > .menu__options--pages > li:hover,
.menu > div > .menu__options--social > li:hover {
    opacity: 0.7;
}

.menu > div > .menu__options--social{
    display: flex;
    position: relative;
    top: 25%;
    margin-bottom: 60px;
    list-style: none;
}

.menu > div > .menu__options--social > li {
    margin: 0px 12px 0px 0px;
    width: 15px;
    height: 17px;
    cursor: pointer;
    width: fit-content;
}



/* Efecto de cambio de texto en el hover: */

.watch {
    -webkit-text-stroke: 1.2px white;
    color: transparent;
    font-size: 5rem;
    opacity: 0;
}

.main__container--videodes > h1:hover{
    opacity: 0;
    transition: opacity 0.5s;
}

.main__container--videodes:hover ~ .watch {
    opacity: 1;
    transition: opacity 0.5s;
}

/* Media querie para tablet y escritorio*/
    @media (min-width: 768px) {

        header > img {
            position: relative;
            left: calc(45% - 125px);
        }

        .menu{
            right: 0%; 
            width: 320px;
        }

        .main__container--videodes > h1 {
            font-size: 8rem;
        }

        .main__container--videodes > h1 > span {
            font-size: 2rem;
        }

        .watch {
            font-size: 10rem;
        }
    }
